@page
@model PatientPlanner.Pages.Patients.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Devices[0].PushEndpoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Devices[0].PushP256DH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Devices[0].PushAuth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Devices)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PushEndpoint)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PushP256DH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PushAuth)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
