@page
@model PatientPlanner.Pages.Devices.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Device</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Device.PushEndpoint)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Device.PushEndpoint)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Device.PushP256DH)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Device.PushP256DH)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Device.PushAuth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Device.PushAuth)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Device?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
